*.o
*.so
*.bin
*.fcgi
.mompasswd
*~
*.bad
*orig
*%
*.dbsqlite
*.dbsqlite-journal
monimelt
make-named
TAGS
core*
_monimelt_sigterm*.*
_monimelt_termdump*
_monimelt*
momjsrpc_client
meltmom*.cc
meltmom*.mk
meltmom*.[ch]
*doc.html
